.main_content h1#first_headding {          /* selector specificity 1st */
    color: red;
    text-decoration: underline;
}

.main_content h1 {            /* selector specificity 2nd */
    color : green;
}

h1 {                           /* selector specificity 3rd */
    color: blue;
}

strong {                       /* This is a different tag all togather so this wins */ 
    color : orange;
}